DerivedData/
.idea/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.moved-aside
*.swp
*.xcdebugger/
*.xcscmblueprint

build/
*.ipa
*.app
*.dSYM.zip
*.dSYM
*.xcarchive
.build/
Package.resolved
Pods/
Podfile.lock
Carthage/Build/
Carthage/Checkouts/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.lock

xccovreport/
xccovarchive/
*.mobileprovision
*.certSigningRequest
*.xcconfig
GoogleService-Info.plist
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.swp
*.xcsettings
*.xcscmblueprint
.DS_Store
*.plist
.AppleDouble
.LSOverride
Icon
